@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Open Sans', sans-serif;
}

body{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background:#E3F2FD;
}


.wrapper{
        width: 65vmin;
        height: 70vmin;
        display: flex;
        overflow: hidden;
        flex-direction: column; /*it indicates to flex as column*/
        background: #293447;
        border-radius: 5px;
}

.game-details{
        color: #BBC6DC;
        font-size: 1.2rem;
        font-weight: 500;
        padding: 20px 27px;
        display: flex;
        justify-content: space-between;   /* space between provide a little space*/
}

/* play board area of snake game*/

.play-board{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template: repeat(30, 1fr) / repeat(30 , 1fr);  /*fr easily helps to divide the amount we want here column/row first repeat is for column and the second is for the row*/
        background:#212837;
}

.play-board .food{
        background: #FF003D;

}


.play-board .head{
        background: #60CBFF;
}

.controls{
      display: grid;
                grid-template-columns: repeat(4,1fr);
                padding: 20px;
                text-align: center;
                
        

        
}
.controls button{
       
       border: none;

                background-color: transparent;
                cursor: pointer;
                color: #E3F2FD;
                border-right: 1px solid;
                border-left: 1px solid;
                border-right-color: #212837;
                border-left-color: #212837;
}

/*@media screen and (max-width: 800px) {
        .controls{
                display: grid;
                grid-template-columns: repeat(4,1fr);
                padding: 20px;
                text-align: center;
                
        }
        .controls button{
                border: none;

                background-color: transparent;
                cursor: pointer;
                color: #E3F2FD;
                border-right: 1px solid;
                border-left: 1px solid;
                border-right-color: #212837;
                border-left-color: #212837;
                
        }
}*/
